body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1a202c;
    text-align: left;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    max-width: 100vw !important;
    max-height: 100vw !important;
}
html{
    width: 100vw;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


i {
    font-style: italic
}

.container {
    margin-top: 100px
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
    background-color: #E989E9

}

.widget-subheading {
    color: #858a8e;
    font-size: 12px
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.card-header .header-icon {
    font-size: 1.65rem;
    margin-right: 0.625rem
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap
}

.text-capitalize {
    text-transform: capitalize !important
}

.scroll-area-sm {
    height: 288px;
    overflow-x: hidden
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125)
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0
}

.todo-indicator {
    position: absolute;
    width: 4px;
    height: 60%;
    border-radius: 0.3rem;
    left: 0.625rem;
    top: 20%;
    opacity: .6;
    transition: opacity .2s
}

.bg-warning {
    background-color: #f7b924 !important
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center
}

.widget-content .widget-content-right.widget-content-actions {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s
}

.widget-content .widget-content-right {
    margin-left: auto
}

.widget-content-left{
    position: relative; 
    right: -15px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s
}

.btn-outline-success {
    color: #3ac47d;
    border-color: #3ac47d
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d
}

.btn-primary {
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    outline: none !important
}

.card-footer {
    background-color: #fff
} 

.navbar-custom {
    background-color: #8900f2;
}
.fa-home {
color: #F4FE40;
font-size: 40px;
}

.fa-tasks{
    font-size:19px;
}

a {
    font-family: 'Nunito', sans-serif;
}

span{
    font-family: 'Proza Libre', sans-serif;
}

* {
    box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 20px;
    border-bottom: 1px solid #000;
}

/* The "Sign Up" button */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.columns-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the table */


table {
  margin: auto;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  width: 60%;
  border: 1px solid #ddd;
}

/* Style table headers and table data */
th, td {
  text-align: center;
  padding: 16px;
}

th:first-child, td:first-child {
  text-align: left;
}

/* Zebra-striped table rows */
tr:nth-child(even) {
  background-color: #f2f2f2
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}

.a--4{
    font-size: 25px;
}

.dropdown-item{
    font-size: 25px;
}

.widget-heading{
    font-size: 16px;
    margin-bottom: 15px;
}
.login-or {
position: relative;
color: #aaa;
margin-top: 10px;
margin-bottom: 10px;
padding-top: 10px;
padding-bottom: 10px;
}
.span-or {
display: block;
position: absolute;
left: 50%;
top: -2px;
margin-left: -25px;
background-color: #fff;
width: 50px;
text-align: center;
}
.hr-or {
height: 1px;
margin-top: 0px !important;
margin-bottom: 0px !important;
}
.send-button{
background: #54C7C3;
width:100%;
font-weight: 600;
color:#fff;
padding: 8px 25px;
}

.g-button{
color: #fff !important;
border: 1px solid #EA4335;
background: #ea4335 !important;
width:100%;
font-weight: 600;
color:#fff;
padding: 8px 25px;
}

.justify-content-center{
    height: auto;
}
.card-5{
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position:relative;
}
/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}

.text-end{
    margin-left: auto;
    font-style:italic;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container--2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.todo_details{
    color: #fff;
    font-size: 28px;
    position:relative; right:-100px;
}

.todo_details1{
    font-size: 25px; 
    color: #fff; 
    width:50%; 
    position:relative; 
    right:-100px
}

.todo_details2{
    font-size: 30px; 
    color: #fff; 
    position: relative; 
    right: -740px;
}

.todo_details3{
    font-size: 25px; 
    color: #fff; 
    position: relative; 
    right: -100px; 
    margin-top:100px;
}

.todo_details4{
    font-size: 25px; 
    color: #fff; 
    position: relative; 
    right: -100px; 
    margin-top:10px;
}


.container--category html {
    height: 100%;
}

.h1-todo-detail{
    text-align:center; 
    margin-bottom:20px;
}

.container--category .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container--category .table-category {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius:10px;
    background-color: #CF58C5;
    font-size:20px;
}

.container--category .category-text {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    text-align: left;
}

.container--category .category-thead {
    th {
        background-color: #372F85;
    }
}

.container--category .category-tbody {
    .category-text {
        &:hover {
            background-color: rgba(255,255,255,0.3);
        }
    }
    .container--category .category-text {
        position: relative;
        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: #3A2E85;
                z-index: -1;
            }
        }
    }
}
.card-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}


.category-text-1 {
    background-color:#CF33C2;
}

.table-sub {
    margin-bottom:5px;
}

.th-sub {
    width:50%;
}

.category-text-2{
    background-color: #CF33C2;
}

.card-password-reset-confirm{
    position:relative; 
    border-radius: 10px; 
    background-color:rgba(0, 0, 0, 0.4); 
    -webkit-backdrop-filter: blur(10px); 
    backdrop-filter: blur(10px); 
    height:600px;
}

.card-password-reset{
    position:relative; 
    border-radius: 10px; 
    background-color:rgba(0, 0, 0, 0.4); 
    -webkit-backdrop-filter: blur(10px); 
    backdrop-filter: blur(10px); 
    height:500px
}

.h1-password-reset{
    text-align:center; 
    font-size:43px; 
    color: #fff;
}

.p-password-reset{
    text-align:center; 
    font-size:24px; 
    color: #fff; 
    margin-top:30px;
}

.h6-password-reset{
    text-align:center; 
    font-size:24px; 
    color: #fff; 
    margin-left:50px;
}

.input-password-reset{
    width:80%; 
    height: 50%; 
    margin-right:120px; 
    margin-top:60px;
}

.div-password-reset{
    margin:0 auto;
}

.h2-password-reset-confirm{
    text-align:center; 
    font-size:43px; 
    color: #fff;
}

.p-password-reset-confirm{
    text-align:center; 
    font-size:20px; 
    color: #fff;
}

.span-password-reset-confirm{
    text-align:center; 
    font-size:20px;
    color: #fff;
}

.card-password-reset-done{
    position:relative; 
    border-radius: 10px; 
    background-color:rgba(0, 0, 0, 0.4); 
    -webkit-backdrop-filter: blur(10px); 
    backdrop-filter: blur(10px); 
    height:500px;
}

.p-password-reset-done{
    text-align:center; 
    font-size:24px; 
    color: #fff; 
    margin-top:30px;
}

.button-category{
    margin-top: 50px;
    margin-left: 140px;
    border: 2px solid black;
    padding: 1px 1px;
    pointer-events: none;

}

.div-category{
    width: 10%;
}

.alert-danger{
    margin-bottom: 28px;
}