{% extends "base.html" %}
{% block content %}
<style>
	@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
</style>
<div class="card" style="position:relative; border-radius: 10px; background-color:rgba(0, 0, 0, 0.4); -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); height:380px; width:1000px; margin:0 auto">
	<h1 style="text-align:center; font-size:30px; color:#fff; margin-top:50px; font-family: 'Roboto Slab', serif;">Ваш пароль изменен</h1>
	<p style="text-align:center; font-size:20px; color:#fff; margin-top:50px; font-family: 'Roboto Slab', serif;">Спасибо, что остаетесь с нами</p>
	<a style="color:#fff;" href="{% url 'login_page' %}"><button class="btn btn-primary" style="margin-top:120px; width:400px; margin-left:300px; margin-right:300px">Войти</button></a>
	
</div>
{% endblock content %}