{% extends "base.html" %}
{% block title %}
	Восстановление пароля
{% endblock title %}
{% block content %}
<div class="card card-password-reset-done">
	<p class="p-password-reset-done">Мы отправили вам по электронной почте инструкции по смене пароля, если существует учетная запись с указанным вами адресом электронной почты.Вы должны их получить в ближайшее время.</p>
	<p class="p-password-reset-done">Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, на который вы зарегистрировались, и проверьте папку со спамом.</p>
</div>
{% endblock content %}
