{% extends 'base.html' %}
{% block title %}
	Cброс пароля
{% endblock title %}
{% load widget_tweaks %}
{% block content %}
{% if  validlink %}
<div class="card card-password-reset-confirm">
	<div class="row align-items-center mt-4">
		<h2 class="h2-password-reset-confirm">Смена пароля</h2>
		<p class="p-password-reset-confirm">Придумайте новый пароль</p>
	</div>
		{% if form.errors %}
			<div class="row align-items-center mt-4">
				<div class="col">
					{% for field in form %}
						{% if field.errors %}
						<div class="alert alert-danger" role="alert">
					 	{{field.errors|striptags}}
						</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		{% endif %}
	<form action="" method="POST">
	{% csrf_token %}
		{% for field in form %}
		<div class="form-group">
			{{field}}
		</div>
		{% endfor %}
		<div style="margin-left:295px;" class="col mt-4">
			<input style="margin-top:50px" type="submit" class="btn btn-primary" value = "Изменить пароль">
		</div>
	</form>
{% else %}
	<span style="text-align:center; font-size:20px; color: #fff">Ссылка, по которой вы перешли, устарела или недействительна</span>
{% endif %}
</div>

{% endblock content %}