{% extends "base.html" %}
{% block title %}
	Восстановление пароля
{% endblock title %}
{% block content %}
<div class="card" style="position:relative; border-radius: 10px; background-color:rgba(0, 0, 0, 0.4); -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); height:500px">
	<p style="text-align:center; font-size:24px; color: #fff; margin-top:30px">Мы отправили вам по электронной почте инструкции по смене пароля, если существует учетная запись с указанным вами адресом электронной почты.Вы должны их получить в ближайшее время.</p>
	<p style="text-align:center; font-size:24px; color: #fff; margin-top:30px">Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, на который вы зарегистрировались, и проверьте папку со спамом.</p>
</div>
{% endblock content %}
