{% extends "base.html" %}
{% block title %}
    Восстановление пароля
{% endblock title %}
{% load i18n %}
{% block content %}
<div class="card" style="position:relative; border-radius: 10px; background-color:rgba(0, 0, 0, 0.4); -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); height:500px">
    
    <div class="row mt-4"  >

        <h1 style="text-align:center; font-size:43px; color: #fff">{% trans "Password Reset" %}</h1>

        <p style="text-align:center; font-size:24px; color: #fff; margin-top:30px">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'password_reset' %}" class="password_reset" style="margin-top:40px">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0" style="text-align:center; font-size:24px; color: #fff; margin-left:50px">Введите свой почтовый адрес</h6>
                </div>
              {% for field in form %}
                <div class="col-sm-9 text-secondary" style="margin:0 auto;">
                    {{field}}
                </div>
              {% endfor %}
            </div>
            <input style="width:80%; height: 50%; margin-right:120px; margin-top:60px" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
    </div>
</div>
{% endblock content %}