{% extends "base.html" %}
{% block title %}
    Восстановление пароля
{% endblock title %}
{% load i18n %}
{% block content %}
<div class="card card-password-reset">
    
    <div class="row mt-4"  >

        <h1 class="h1-password-reset">{% trans "Password Reset" %}</h1>

        <p class="p-password-reset">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'password_reset' %}" class="password_reset" style="margin-top:40px">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0 h6-password-reset">Введите свой почтовый адрес</h6>
                </div>
              {% for field in form %}
                <div class="col-sm-9 text-secondary div-password-reset">
                    {{field}}
                </div>
              {% endfor %}
            </div>
            <input class="input-password-reset" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
    </div>
</div>
{% endblock content %}