{% extends "base.html" %}
{% block title %}
  Редактирование задачи
{% endblock title %}
{% load widget_tweaks %}
{% block content %}
 <div class="container--2">
  <form action="" method="POST" enctype="multipart/form-data">
  	{% csrf_token %}
    <div class="row">
      <div class="col-25">
        <label for="todo_name">Имя задачи</label>
      </div>
      <div class="col-75">
      	{% render_field form.name class="form-control" placeholder="Введите имя задачи..." style="width: 100%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; resize: vertical;"%}
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="description">Описание</label>
      </div>
      <div class="col-75">
      	{% render_field form.description class="form-control" placeholder="Введите описание задачи..." style="width: 100%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; resize: vertical;" %}
    </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="category_name">Категория</label>
      </div>
      <div class="col-75">
		{% render_field form.category class="form-control" style="margin-bottom:5px; margin-top:10px; width: 100%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; resize: vertical;" placeholder="Выберите категорию"%}
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="category_name">Важность</label>
      </div>
      <div class="col-75">
		{% render_field form.interest class="form-control" style="margin-bottom:18px; width: 100%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; resize: vertical;"%}
      </div>
    </div>
     <div class="row">
      <div class="col-25">
        <label for="completed">Статус выполнение</label>
      </div>
      <div class="col-75">
		<div class="form-check form-switch">
    {% render_field form.completed class="form-check-input" type='checkbox' %}
		</div>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Сохранить">
    </div>
  </form>
</div>

{% endblock content %}