{% extends "base.html" %}
{% block title %}
	Список всех задач
{% endblock title %}
{% block content %}
<h1>Список всех задач</h1>
<table class="table table-sortable" id="sortTable">
<thead>
	<tr>
      <th>ID</th>
      <th>Имя задачи</th>
      <th>Описание задачи</th>
      <th>Важность</th>
      <th>Дата создания</th>
      <th>Статус выполнения</th>
      <th>Категория</th>
	</tr>
	</thead>
{% for todo in todos %}
	<tbody>
	  <td>{{todo.id}}</td>
      <td><a href="{% url 'todo_detail' todo.id %}">{{todo.name}}</a></td>
      <td>{{todo.description|truncatewords:7}}</td>
      <td>{{todo.interest}}</td>
      <td>{{todo.date_created}}</td>
      <td>{{todo.completed|yesno:"Выполнено, Не выполнено, Ничего"}}</td>
      <td>{{todo.category}}</td>
	</tbody>
{% endfor %}
</table>


{% endblock content %}

