                {% for category in categories %}
                <input type="hidden" value="{{category.name}}" name="search">
                <div class="tab">
                    <button class="tablinks" onclick="openCity(event, 'CategoryName')">{{category.name}}</button>
                </div>
                {% endfor %}



                ######
                <div class="widget-content-left">
                                                <div class="widget-heading"><a href="{% url 'todo_detail' todo.id %}">{{todo.name}}</a>
                                                    {% if todo.completed == False %}
                                                        <span class="badge rounded-pill bg-danger ml-2">{{todo.completed|yesno:"Выполнено, Не выполнено, Ничего"}}</span>
                                                    {% else %}
                                                        <span class="badge rounded-pill bg-success ml-2">{{todo.completed|yesno:"Выполнено, Не выполнено, Ничего"}}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="widget-subheading"><i>{{todo.descrtiption|truncatewords:6}}</i></div>
                                            </div>
                                                <div class="widget-content-right">
                                                    <span>{{todo.interest}}</span>
                                                </div>
                                                <div class="widget-content-right">
                                                    <span>{{todo.category}}</span>
                                                </div>

                                                <div class="widget-content-right">
                                                {# <form action="" method="POST"> #}
                                                    <form action="{% url 'change_todo_status' todo.id %}" method="POST">
                                                    {% csrf_token %}
                                                    {% if todo.completed == False %}
                                                        <button class="border-0 btn-transition btn btn-outline-success"type="submit"> <i class="fa fa-check"></i></button>
                                                    {% else %}
                                                        <button class="border-0 btn-transition btn btn-outline-danger" type="submit"> <i class="fa fa-times" aria-hidden="true"></i>
                                                    </form>
                                                    {% endif %}
                                                    <form action="{% url 'todo_delete' todo.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <button class="border-0 btn-transition btn btn-outline-danger"type="submit"> <i class="fa fa-trash"></i>
                                                        </button>
                                                    </form>
                                                    </form> 
                                                    </div>