{% extends "base.html" %}
{% block title %}
	Смена пароля
{% endblock title %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
		<div class="main-body">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<img src="{{request.user.profile.photo.url}}" alt="{{request.user.username}}" class="rounded-circle p-1 bg-primary" width="110">
								<div class="mt-3">
									<h4>{{request.user.username}}</h4>
									<p class="text-secondary mb-1">{{request.user.first_name}}  {{request.user.last_name}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
					<div class="col-lg-8">
					<div class="card card-1">
				<form action="{% url 'change_password' %}" method="POST">
					{% csrf_token %}		
					{% for message in messages %}
        			<div class="row align-items-center mt-4">
          				<div class="col">
            				<div class="alert alert-danger" role="alert">
            					{% if 'safe' in message.tags %}
            					{{message|safe}}
            					{% else %}
            					{{message}}
            					{% endif %}
              				</div>
            			</div>
          			</div>						
					{% endfor %}

						<div class="card-body">
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Старый пароль</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									{% render_field form.old_password class="form-control" %}
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Новый пароль</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									{% render_field form.new_password1 class="form-control" %}
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Повторите новый пароль</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									{% render_field form.new_password2 class="form-control" %}
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-9 text-secondary">
									<input type="submit" class="btn btn-primary px-4" value="Сохранить изменения">
								</div>
							</div>
						</div>
				</form>
					</div>

				</div>

			</div>
		</div>
	</div>	
{% endblock content %}
